<html>
    <head>
        <meta charset="utf-8">
        <title>Test Application Group 16</title>

        <script src="https://openui5.hana.ondemand.com/resources/sap-ui-core.js"
            id="sap-ui-bootstrap"
            data-sap-ui-theme="sap_bluecrystal"
            data-sap-ui-libs="sap.m"
            data-sap-ui-bindingSyntax="complex"
            data-sap-ui-compatVersion="edge"
            data-sap-ui-preload="async"></script>
            <!-- use "sync" or change the code below if you have issues -->
            
            <script type='text/javascript' src='jquery.xml2json.js'></script>
            <script type='text/javascript' src='./../jquery.soap.js'></script>
 			<!-- <script type='text/javascript' src='http://code.jquery.com/jquery-1.10.2.js'></script> -->
       
       <style type="text/css">
     		.totalAmount {
              font-size: 3rem;
              }
  		 </style>
       
        <!-- XMLView -->
        <script id="myXmlView" type="ui5/xmlview">
            <mvc:View
                controllerName="MyController"
                xmlns="sap.m"
                xmlns:core="sap.ui.core"
                xmlns:mvc="sap.ui.core.mvc"
				xmlns:l="sap.ui.layout"
				xmlns:f="sap.ui.layout.form">
				<Shell>
					<Page
					title="Test Application Group 16"
					class="sapUiContentPadding">
						<content>
							<Panel width="100%">
								<content>
									<VBox class="sapUiSmallMargin" id="orderInfo">
										<f:SimpleForm id="SimpleFormChange480"
											minWidth="1024"
											maxContainerCols="2"
											editable="true"
											layout="ResponsiveGridLayout"
											title="Order"
											labelSpanL="4"
											labelSpanM="4"
											emptySpanL="2"
											emptySpanM="2"
											columnsL="2"
											columnsM="2"
											class="editableForm">
											<f:content>
												<core:Title text="Process Settings" />
												<Label  text="Synchronous Process" />
												<RadioButton id="sync" groupName="GroupA" selected="true" />
												<Label  text="Asynchronous Process" />
												<RadioButton id="async" groupName="GroupA"  />
															
												<Label text="ODE Port" />
												<Input id="servicePort" value="32860" />
												<Label text="" />
												<Input value="" editable="false" />
												<Label text="Order Status" />
												<Input id="status" editable="false" value="None" width="200px"/>
												<Label text="" />
												<core:Icon id="iconTrue" visible="false" src="sap-icon://complete" size="35px" color="#00b200"/>
												<core:Icon id="iconFalse" visible="false" src="sap-icon://decline" size="35px" color="#EE4000"/>
												
												<core:Title text="Order Details" />
												<Label text="Customer ID/Adress" />
												<Input id="customerId" value="NANANANA" />
												<Input id="address" value="Wayne Manor 1" >
													<layoutData>
														<l:GridData span="L3 M3 S4" />
													</layoutData>
												</Input>
												<Label text="Bank Name/Bank Address" />
												<Input id="bankName" value="Worldbank" />
												<Input id="bankAddress" value="Bankstreet 2">
													<layoutData>
														<l:GridData span="L3 M3 S4" />
													</layoutData>
												</Input>
												<Label text="Account Holder/Account Number" />
												<Input id="holderName" value="Bruce Wayne" />
												<Input id="accountNumber" value="987-651-234" >
													<layoutData>
														<l:GridData span="L3 M3 S4" />
													</layoutData>
												</Input>
											</f:content>
										</f:SimpleForm>
									</VBox>

									
									
								</content>
							</Panel>

							<Table
								id="myTable"
								growing="true"
								growingThreshold="10"
								growingScrollToLoad="true"
								busyIndicatorDelay="0"
								mode="MultiSelect"
								includeItemInSelection="true">
								<headerToolbar>
									<Toolbar>
										<Title text="Product List"/>
										<ToolbarSpacer/>
									</Toolbar>
								</headerToolbar>
								<columns>
									<Column>
										<Text text="Product ID"/>
									</Column>
									<Column>
										<Text text="Name"/>
									</Column>
									<Column>
										<Text text="Price"/>
									</Column>
									<Column>
										<Text text="Producer"/>
									</Column>
									<Column>
										<Text text="Weight"/>
									</Column>
									<Column>
									    <Text text="Quantity"/>
									</Column>
								</columns>
								<items>
									<!-- filled via bindItems() in controller -->
								</items>
							</Table>
				 
						</content>
						<footer>
						<Toolbar>
							<ToolbarSpacer/>
							<Button text="Order Selected Item" type="Accept" press="onOrderPress"/>
						</Toolbar>
					</footer>
					</Page>
				</Shell>

 				
            </mvc:View>
        </script>
 
        <!-- XML Fragments -->
        <script id="myXMLFragment" type="ui5/fragment">
            <core:FragmentDefinition
                xmlns="sap.m"
                xmlns:core="sap.ui.core">
                <ColumnListItem >
                    <cells>
                        <ObjectIdentifier title="{id}"/>
 						<Text text="{name}"/>
                        <ObjectNumber
							class="sapUiSmallMarginBottom"
							number="{price}"
							unit="EUR" />
 						<Text text="{producer}"/>
                        <Text text="{weight} kg"/>
						<StepInput
						    value="{quantity}"
							min="1"
							step="1"
							width="120px"/>
                    </cells>
                </ColumnListItem>
            </core:FragmentDefinition>
        </script>
        
        
        <script id="dialogFragment" type="ui5/fragment">
        	<core:FragmentDefinition width="1000px"
				xmlns="sap.m" xmlns:core="sap.ui.core" 
				xmlns:l="sap.ui.layout"
				xmlns:f="sap.ui.layout.form">
	<HBox justifyContent="Center">
		<items>
  			<ObjectNumber class="totalAmount"
      			number="{/totalAmount}"
      			unit="EUR" />
		</items>
	</HBox>
   <f:SimpleForm 
      minWidth="1024"
      maxContainerCols="2"
      editable="true"
      layout="ResponsiveGridLayout"
      title="Order"
      labelSpanL="4"
      labelSpanM="4"
      emptySpanL="2"
      emptySpanM="2"
      columnsL="2"
      columnsM="2"
      class="editableForm">
      <f:content>
         <core:Title text="Order Details" />
         <Label text="Order ID" />
         <Input value="{/orderId}" />
         <Label text="Customer ID" />
         <Input value="{/customerId}" />
         <Label text="Shipping Address" />
         <Input value="{/shippingAddress}" />
         <core:Title text="Bank Details" />
         <Label text="Bank Name" />
         <Input value="{/paymentDetails/bankName}" />
         <Label text="Bank Address" />
         <Input value="{/paymentDetails/bankAddress}" />
         <Label text="Account Number" />
         <Input value="{/paymentDetails/accountNumber}" />
         <Label text="Account Holder Name" />
         <Input value="{/paymentDetails/accountHolderName}" />
      </f:content>
   </f:SimpleForm>
   <List headerText="Ordered Products"
      items="{/products/product}">
      <StandardListItem
         title="{productId}"
         />
   </List>
</core:FragmentDefinition>
        </script>
 
        <script>
            sap.ui.getCore().attachInit(function () {
                "use strict";
 
                //### Controller ###
                sap.ui.define([
                    "sap/ui/core/mvc/Controller"
                ], function (Controller) {
                    "use strict";
 
                    return Controller.extend("MyController", {
                        onInit : function () {

                        	// Create a JSON Model and bind it to the view
                        	var oModel = new sap.ui.model.json.JSONModel();
                        	
                            this.getView().setModel(oModel);

                        },
                        
                        onAfterRendering : function (){
                        	
                        	this.fillTableBySOAPRequest();
                        	
                        },
                        
                        
                        showOrderResponse: function (responseData) {
                        	
							var JSONModel = new sap.ui.model.json.JSONModel();
                        	
							JSONModel.setData(responseData);
							
							// if only one product is returned it's an object instead of array
							// so convert it for display
							if (typeof responseData.products.product == 'object'){
								var arr = $.map(responseData.products.product, function(el) { return el });
								var productArray = [];
								productArray.push(responseData.products.product);
								responseData.products.product = productArray;
							}
							
							var oTemplate =  sap.ui.xmlfragment({
                                fragmentContent : jQuery("#dialogFragment").html()
                            });
							
							if (responseData.orderId != "tns:orderId"){ //Order went through
									var dialog = new sap.m.Dialog({
		                				title: 'Order Response',
		                				content: oTemplate,
		                				beginButton: new sap.m.Button({
		                					text: 'Close',
		                					press: function () {
		                						dialog.close();
		                					}
		                				}),
		                				afterClose: function() {
		                					dialog.destroy();
		                				}
		                			});
		                 			
		                			dialog.setModel(JSONModel);
		                			
		                			//to get access to the global model
		                			this.getView().addDependent(dialog);
		                			dialog.open();
							}
                        	
                			
                		},
                        
                        onOrderPress : function(oEvent){
                        	
                        	//get selected products
                        	var selectedItems = this.getView().byId("myTable").getSelectedContexts();
                        	var productList = [];
                        	for (var i = 0;i < selectedItems.length;i++){
                        		var product = {};                        		
                        		
                        		product.id = selectedItems[i].getProperty("id");
                        		product.quantity = selectedItems[i].getProperty("quantity");
                        		productList.push(product);
                        	}
                        	
                        	this.getView().byId("iconFalse").setVisible(false);
							this.getView().byId("iconTrue").setVisible(false);
							
                        	var bSync = this.getView().byId("sync").getSelected();
                        	var sServicePort = this.getView().byId("servicePort").getValue();                        	
                        		if (sServicePort != "" ){
                        			this.getView().byId("servicePort").setValueState("None");
                        			this.getView().setBusy(true);
                            		if (bSync){
                            			this.sendSOAPRequest(sServicePort,productList);
                            		} else{
                            			this.sendSOAPRequestAsync(sServicePort,productList);
                            		}
                        		} else {
                        			this.getView().byId("servicePort").setValueState("Error");
                        		}    
                        },
                        
                        fillTableBySOAPRequest : function(){
                        	// gather the data
                    		var sData =    '<flow:listProducts xmlns:flow="http://iaas.uni-stuttgart.de/labs/FlowSOG">'
                    			+         '<flow:limit>10</flow:limit>'
                    			+      '</flow:listProducts>';

                    		$.soap({
                    			url: 'http://46.101.159.46:3000/InventoryService/',
                    			method: 'InventoryPort',
                    			appendMethodToURL: true,
                    			data: sData,
                    		
                    			envAttributes: {
                    				'xmlns:xsi': 'http://www.w3.org/2001/XMLSchema-instance',
                    				'xmlns:xsd': 'http://www.w3.org/2001/XMLSchema'
                    			},

                    			namespaceQualifier:  'myns',
                    			namespaceURL: 'urn://service.my.server.com',

                    			enableLogging: true,
                    			
                    			success: function(SOAPResponse) {
                    				var json = SOAPResponse.toJSON();
                    				this.bindResultToTable(json);
                    			}.bind(this),
                    			error: function(SOAPResponse) {
                    			}
                    		});
                        },
                        
                        sendSOAPRequest : function(sServicePort,productList){
                        	                        	
                        	var sAddress             = this.getView().byId("address").getValue();		
                        	var sBankName            = this.getView().byId("bankName").getValue();		
                        	var sBankAdress          = this.getView().byId("bankAddress").getValue();		
                        	var sAccountNumber       = this.getView().byId("accountNumber").getValue();	
                        	var sHolderName          = this.getView().byId("holderName").getValue();	  
                        	
                        	var xmlProductList = this.productListToProduct(productList,false);
                        	
                    		// gather the data
                    		var sData =    '<flow:InputOrderDetails xmlns:flow="http://iaas.uni-stuttgart.de/labs/FlowSOG">'
                    			+      '<flow:products>'
								+      xmlProductList              			
                    			+      '</flow:products>'
                    			+      '<flow:shippingAddress>'+ sAddress + '</flow:shippingAddress>'
                    			+      '<flow:paymentDetails>'
                    			+         '<flow:bankName>' + sBankName + '</flow:bankName>'
                    			+         '<flow:bankAddress>' + sBankAdress + '</flow:bankAddress>'
                    			+         '<flow:accountNumber>' + sAccountNumber + '</flow:accountNumber>'
                    			+         '<flow:accountHolderName>' + sHolderName + '</flow:accountHolderName>'
                    			+      '</flow:paymentDetails>'
                    			+   '</flow:InputOrderDetails>';

                    		$.soap({
                    			url: "http://46.101.159.46:" + sServicePort + '/ode/processes/',
                    			method: 'FlowSOG',
                    			appendMethodToURL: true,
                    			data: sData,
                    		
                    			envAttributes: {
                    				'xmlns:xsi': 'http://www.w3.org/2001/XMLSchema-instance',
                    				'xmlns:xsd': 'http://www.w3.org/2001/XMLSchema'
                    			},

                    			namespaceQualifier:  'myns',
                    			namespaceURL: 'urn://service.my.server.com',

                    			enableLogging: true,
                    			
                    			success: function(SOAPResponse) {
                    				var json = SOAPResponse.toJSON();
									this.showResponse(json.Body.FlowSOGResponse.status, true);
									this.showOrderResponse(json.Body.FlowSOGResponse); //Popup
                    			}.bind(this),
                    			error: function(SOAPResponse) {
                    				this.showResponse("Error", false);
                    			}.bind(this)
                    		});
                        	
                        },
                        
						sendSOAPRequestAsync : function(sServicePort,productList){
                        	
                         	var sCustomerId			 = this.getView().byId("customerId").getValue();
                        	var sAddress             = this.getView().byId("address").getValue();		
                        	var sBankName            = this.getView().byId("bankName").getValue();		
                        	var sBankAdress          = this.getView().byId("bankAddress").getValue();		
                        	var sAccountNumber       = this.getView().byId("accountNumber").getValue();	
                        	var sHolderName          = this.getView().byId("holderName").getValue();	
                        	
                        	var xmlProductList = this.productListToProduct(productList,true);
                        	
                    		// gather the data
                    		var sData = '<tns:FlowSOGAsynchronousRequest xmlns:tns="http://de.ustutt.simtech" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">'
                    			+ '  <tns:portOfODE>' + sServicePort + '</tns:portOfODE>                                                                    '
                    			+ '  <tns:customerID>' + sCustomerId + '</tns:customerID>                                                                   '
                    			+ '  <tns:products>                                                                                                         '
                    			+      xmlProductList                                                                                               
                    			+ '  </tns:products>                                                                                                        '
                    			+ '  <tns:shippingAddress>' + sAddress + '</tns:shippingAddress>                                                            '
                    			+ '  <tns:shippmentDate>2017-01-01</tns:shippmentDate>                                                                      '
                    			+ '  <tns:paymentDetails>                                                                                                   '
                    			+ '    <tns:bankName>' + sBankName + '</tns:bankName>                                                                       '
                    			+ '    <tns:bankAddress>' + sBankAdress + '</tns:bankAddress>                                                               '
                    			+ '    <tns:accountNumber>' + sAccountNumber + '</tns:accountNumber>                                                        '
                    			+ '    <tns:accountHolderName>' + sHolderName + '</tns:accountHolderName>                                                   '
                    			+ '  </tns:paymentDetails>                                                                                                  '
                    			+ '</tns:FlowSOGAsynchronousRequest>                                                                                        ';   

                    		$.soap({
                    			url: "http://46.101.159.46:" + sServicePort + '/ode/processes/',
                    			method: 'FlowSOGAsynchronous',
                    			appendMethodToURL: true,
                    			data: sData,
                    		
                    			envAttributes: {
                    				'xmlns:xsi': 'http://www.w3.org/2001/XMLSchema-instance',
                    				'xmlns:xsd': 'http://www.w3.org/2001/XMLSchema'
                    			},

                    			namespaceQualifier:  'myns',
                    			namespaceURL: 'urn://service.my.server.com',

                    			enableLogging: true,
                    			
                    			success: function(SOAPResponse) {
                    				var json = SOAPResponse.toJSON();
									this.showResponse(json.Body.FlowSOGAsynchronousResponse.status, true);
									this.showOrderResponse(json.Body.FlowSOGAsynchronousResponse); //Popup
                    			}.bind(this),
                    			error: function(SOAPResponse) {
                    				this.showResponse("Error", false);
                    			}.bind(this)
                    		});
                        	
                        },
                        
                        showResponse : function(sResponse, bState){
                        	this.getView().setBusy(false);
							/* this.getView().byId("orderInfo").setVisible(false); */
							/* this.getView().byId("response").setVisible(true); */
							this.getView().byId("status").setValue(sResponse);
							if (bState === true){
								this.getView().byId("iconTrue").setVisible(true);
								this.getView().byId("iconFalse").setVisible(false);
							} else{
								this.getView().byId("iconFalse").setVisible(true);
								this.getView().byId("iconTrue").setVisible(false);
							} 
						},

                        
                        bindResultToTable : function(oData){
                        	
                        	//Fill the JSON Model by the SOAP response data
                        	var oModel = this.getView().getModel();
                        	oModel.setData(oData);
                        	
                        	// Bind data to 
                            var sPath = "/Body/listProductsResponse/productList/product";
                            var oTable = this.byId("myTable");
                            var oTemplate =  sap.ui.xmlfragment({
                                fragmentContent : jQuery("#myXMLFragment").html()
                            });
 
                            oTable.bindItems(sPath, oTemplate, null /*oSorter*/, null /*aFilters*/);
                        },
                        
                        productListToProduct: function(productList,bAsync){
                        	var xmlProduct = '';
                        	for (var i=0;i<productList.length;i++){
                        		if (bAsync) {
                               		xmlProduct += 
                              		  '	<tns:product>                                                                                                           '
                          			+ '      <tns:productID>' + productList[i].id + '</tns:productID>                                                                  '
                          			+ '      <tns:amount>' + productList[i].quantity + '</tns:amount>                                                                                         '
                          			+ '    </tns:product>   ';                         			
                        		}else{
                            		xmlProduct += 
                              		  '	<flow:product>                                                                                                           '
                          			+ '      <flow:productId>' + productList[i].id + '</flow:productId>                                                                  '
                          			+ '      <flow:numberOfItems>' + productList[i].quantity + '</flow:numberOfItems>                                                                                         '
                          			+ '    </flow:product>   ';  
                        			
                        		}                          			
                        	}                        	
                    		return xmlProduct;
                        }
                    });
                });
 				
                                
                //### THE APP: place the XMLView somewhere into DOM ###
                sap.ui.xmlview({
                    viewContent : jQuery("#myXmlView").html()
                }).placeAt("content");
 
            });
        </script>
 
    </head>
 
    <body class="sapUiBody">
        <div id="content"></div>
    </body>
</html>